@model ArtGallery.ViewModels.LoginViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="back">
    <h1>Login</h1>

    <h4>Art Gallery</h4>
    <hr />
    <div class="row">
        <div class="col-md-4 , MainPageLogin">
            <img class="MyImage" src="~/img/user.png">
            <form asp-controller="User" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <div>
                <div><a asp-controller="User" asp-action="Register">Creat your account</a></div>
                <div><a asp-controller="User" asp-action="Register">Forgot your password?</a></div>
            </div>


        </div>
    </div>
</div>
@*<div id="hi" >hi gfse</div>*@